.content {
  padding: 15px;
  overflow-x: hidden;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: cursive;
}

.item {
  position: relative;
  max-width: 23%;
  width: 100%;
  display: inline-block;
  margin: 10px 10px;
  text-align: center;
  max-height: 200px;
  height: 200px;
  border-radius: 3px;
  background-color: #ccc;
  color: #ccc;
  border: 1px solid #ccc;
  transition: all .4s ease;
  -webkit-box-shadow: 5px 5px 31px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 5px 5px 31px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 31px 0px rgba(0, 0, 0, 0.15);
}

.item:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 59px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 5px 5px 59px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 5px 5px 59px 0px rgba(0, 0, 0, 0.23);
}

.item a {
  font-weight: bold;
}

.item a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: cursive;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.blue {
  border: 1px solid #0000ff;
  background-color: #0000ff;
  transition: all .4s ease;
}

.blue:hover {
  border: 1px solid #545497;
  background-color: #545497;
  color: #fff;
  cursor: pointer;
}

.blue a {
  color: #fff;
}

.green {
  border: 1px solid #00e600;
  background-color: #00e600;
  color: #000000;
}

.green:hover {
  border: 1px solid #39c939;
  background-color: #39c939;
  color: #000000;
  cursor: pointer;
}

.green a {
  color: #000000;
}

.darkblue {
  border: 1px solid #000099;
  background-color: #000099;
  color: #fff;
}

.darkblue:hover {
  border: 1px solid #4d08ee;
  background-color: #4d08ee;
  cursor: pointer;
}

.darkblue a {
  color: #fcfcfc;
}

.orange {
  border: 1px solid #ff9900;
  background-color: #ff9900;
  color: #000000;
}

.orange:hover {
  border: 1px solid #ee9d08;
  background-color: #ee9d08;
  cursor: pointer;
}

.orange a {
  color: #000;
}

.pink {
  border: 1px solid #a30ca894;
  background-color: #a30ca894;
}

.pink:hover {
  border: 1px solid #ee08cf;
  background-color: #ee08cf;
  cursor: pointer;
}

.pink a {
  color: #000;
}

.red {
  border: 1px solid #eb3b06fa;
  background-color: #eb3b06fa;
}

.red:hover {
  border: 1px solid red;
  background-color: red;
  cursor: pointer;
}

.red a {
  color: #fcfcfc;
}

.yellow {
  border: 1px solid #fcf700ea;
  background-color: #fcf700ea;
  color: #000000;
}

.yellow:hover {
  border: 1px solid #cbee08;
  background-color: #cbee08;
  cursor: pointer;
}

.yellow a {
  color: #000;
}